body {
    background: url("../img/empowerment-empresarial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    border-radius: 2.5%;
    background-color: #f1f1f1;
    padding: 10px;
}